@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root{
    --cor-primaria : #000000;
    --cor-secundaria: #22D4FD;
    --cor-terciaria : #F6F6F6;
    --cor-hover: #272727;
    --fonte-primaria: 'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif; 
}
.cabecalho{
    padding: 2% 15%;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
}

.cabecalho__menu__link{
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
    font-weight: 600;
    font-size:1.5rem;
}

body{
    background-color: var( --cor-primaria);
    color: var(--cor-terciaria);
    box-sizing: border-box;
}

main{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding:  2% 15%;
    gap: 82px;
}

.conteudo{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 50%;
}

.conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.conteudo__conteudo{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.conteudo__destaque{
    color: var(--cor-secundaria);
}

.link{
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    gap: 32px;
}

.link__titulo{
    font-family: var(--fonte-primaria);
}

.link__links{
    align-self: center;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--cor-terciaria);
    border: 2px solid  var(--cor-secundaria);
    border-radius: 8px ;
    width: 80%;
    max-width: 700px;
    padding: 15px 0px;
    font-family: var(--fonte-secundaria); 
    justify-content: center;
}

.link__links:hover{
    background-color: var(--cor-hover);
}

.rodape{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    background-color: var(--cor-secundaria);
    height: 80px;
    font-family: var(--fonte-secundaria);
    color: var(--cor-primaria);
    font-size: 1.5rem;
}

.conteudo__imagem{
    width: 50%;
}

@media (max-width: 1200px) {
    main{
        flex-direction: column-reverse; 
        padding: 2% 5%;
    }
    .cabecalho__menu{
        justify-content: center; 
    }
    .conteudo__imagem{
        align-self: center;
        min-width: 300px;
    }
    .conteudo{
        width: auto; 
        
    } 
    .conteudo__imagem{
        width: auto;
    }
    
}

@media (max-width: 510px) { 
    .conteudo__imagem{
        align-self: center;
        min-width: 0;
        width: 100%;
    }
}